<div class="dropdown">
  <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,20">
  new
  </button>
  <div class="dropdown_menu">
    <%= render "cocktails/form" cocktail: @cocktail %>
  </div>
</div>
